h1, h2, h3, h4 {
	font-family: 'Roboto Slab', serif;
}

p {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.4;
	font-size: 1em;
}

hr {
	margin: 20px 0px 20px 0px;
}

#quizContainer {
	max-width: 60%;
	max-height: 50%;
	margin: 0 auto;
    margin-top: 15px;
	padding: 10px 50px 10px 50px;
	border-radius: 50px;
	border: 2px solid #a0cfd6;
	box-shadow: 10px 15px 5px #a0cfd6;
}

h1 {
	text-align: center;
	line-height: 1.5em;
	padding: 2px 0px;
	background-color: #d5eaed;
	border-radius: 50px;
	border: 1px solid #a0cfd6;
}



#buttons {
	margin-top: 30px;
}

#btn0, #btn1, #btn2, #btn3 {
	width: 250px;
	background-color: #d5eaed;
	font-size: 1em;
	border: 1px solid #a0cfd6;
	border-radius: 50px;
	margin: 10px 40px 10px 0px;
	padding: 10px 10px;
}

#progress {
	font-size: .75em;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
	cursor: pointer;
	background-color: #a0d6c2;
}

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
	outline: 0;
}

#score {
	text-align: center;

}

@media screen and (max-width: 855px){
	p, div {
		text-align: center;
	}
	#btn0, #btn1, #btn2, #btn3 {
		max-width: 100%;
		margin: 10px 0px 10px 0px;

	}

}

@media screen and (max-width: 730px){
    #quizContainer {
	max-width: 90%;
	max-height: 50%;
	margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
	padding: 10px;
	border-radius: 50px;
	border: 1px solid #a0cfd6;
	box-shadow: 10px 15px 5px #a0cfd6;
}
    h1 {
        font-size: 22px;
    }
    h2, h3, h4 {
        font-size: 18px;
    }
}