h1, h2, h3, h4, p, div {
	font-family: 'Roboto Slab', serif;
	text-align: center;
}
#about {
	margin: 5%;
}
p {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.4;
	font-size: 1.2em;
}

hr {
	margin: 20px 0px 20px 0px;
}

html, body, #quiz {
  height: 100%;
  overflow-y: hidden;

}

#quizContainer {
	height: 100%;
	margin: 0;
	padding: 10px 50px 10px 50px;
	width: 100%;
	background-image: url("../img/luau.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
    background-attachment: fixed;
  	background-position: center; 
 }

h1 {
    margin-top: 15px;	
	line-height: 1.5em;
	padding: 2px 0px;
}

#buttons {
	margin-top: 30px;
}

#btn0, #btn1, #btn2, #btn3 {
	width: 250px;
	font-size: 1em;
    background: rgba(255,255,255,0.7);
    border: 1px solid transparent;
	border-radius: 20px;
	margin: 10px 40px 10px 0px;
	padding: 10px 10px;
	text-align: center;
}

#progress {
	position: absolute;
    bottom:10px;
    right:10px;
	font-size: 1em;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
	cursor: pointer;
    background: rgba(255,255,255,0.2);
}

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
	outline: 0;
}

#resultImg {
	width: 300px;
}

a, a:hover, a:active {
	text-decoration: none;
	color: black;
}

#question{
	margin-top: 15px;
	font-size: 1.5em;
}
ul {
	text-align: right;
}

li {
	display: inline;
	list-style: none;
	padding: 10px;
}

#quizPopulator {
	height: 100%;
	margin-top: 20%;

}

@media screen and (max-width: 855px){

	#btn0, #btn1, #btn2, #btn3 {
		max-width: 100%;
		margin: 10px 0px 10px 0px;
	}

}

@media screen and (max-width: 650px){
    #quizContainer {
    padding: 10px 0px 0px 0px;
    height: 100%;

	}
    h1 {
        font-size: 22px;
    }
    h2, h3, h4 {
        font-size: 18px;
    }
    p {
    	font-size: 16px;
    }
    h3 {
    	margin-top: 0px;
    }
    html, body, #quiz {
    	overflow-y: auto;
    	height: 100%;
    }
}
